@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Bungee+Shade&display=swap');

#header{
    background: url('../img/outdoor-dining-1846137_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#header .header__fondo{
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter: blur(5px);
    background-color: rgba(243, 243, 243, 0,1);
}

#header .header__title{
    font-family: 'Bungee Inline', cursive;
    font-size: 40px;
    font-weight: lighter;
    padding: 20px 0;
}

.header__title{
    display: block;
    text-align: center;
}

.header__title span{
    display: inline-block;
}

/*--- TEXTO CURVO ---*/

.header__title > span:nth-child(1){
    -webkit-transform: translateX(-1px) translateY(22px) rotate(-12deg);
    transform: translateX(-1px) translateY(22px) rotate(-12deg);
}

.header__title > span:nth-child(2){
    -webkit-transform: translateX(-1px) translateY(13px) rotate(-9deg);
    transform: translateX(-1px) translateY(13px) rotate(-9deg);
}

.header__title > span:nth-child(3){
    -webkit-transform: translateX(-1px) translateY(8px) rotate(-4deg);
    transform: translateX(-1px) translateY(8px) rotate(-4deg);
}

.header__title > span:nth-child(4){
    -webkit-transform: translateX(-1px) translateY(4px) rotate(-2deg);
    transform: translateX(-1px) translateY(4px) rotate(-2deg);
}

.header__title > span:nth-child(6){
    -webkit-transform: translateX(-1px) translateY(4px);
    transform: translateX(-1px) translateY(4px) ;
}

.header__title > span:nth-child(7){
    -webkit-transform: translateX(-1px) translateY(4px) rotate(2deg);
    transform: translateX(-1px) translateY(4px) rotate(2deg);
}

.header__title > span:nth-child(8){
    -webkit-transform: translateX(-1px) translateY(8px) rotate(4deg);
    transform: translateX(-1px) translateY(8px) rotate(4deg);
}

.header__title > span:nth-child(9){
    -webkit-transform: translateX(-1px) translateY(13px) rotate(9deg);
    transform: translateX(-1px) translateY(13px) rotate(9deg);
}

.header__title > span:nth-child(10){
    -webkit-transform: translateX(-1px) translateY(22px) rotate(12deg);
    transform: translateX(-1px) translateY(22px) rotate(12deg);
}

.header__paragraph{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__paragraph p{
    margin: 0;
    padding: 0 5px;
}

.header__paragraph div{
    width: 30px;
    height: 1px;
    background-color: #fff;
}


#nosotros{
    background: url('../img/city-4298285_1280.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nosotros .nosotros__fondo{
    background-color: rgba(255, 255, 255, 0.850);
}

.title__hr{
    border-top: 1px solid #663300;
    border-bottom: 1px solid #663300;
    width: 100%;
    height: 4px;
}

#separador{
    background: url('../img/audience-1853662_640.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150px;
}

#separador .separador__fondo{
    background-color: #1f1000ad;
    width: 100%;
    height: 100%;
}

#separador .separador__imgs img{
    border: #a1601f 4px solid;
}

#menu .menu__card__img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

#menu .menu__card__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#menu .menu__card__container .menu__card__front{
    grid-row: 1/2;
    grid-column: 1/2;
    position: relative;
    transform: perspective(500px) rotateY(0deg);

}

#menu .menu__card__container .menu__card__div{
    backface-visibility: hidden;
    transition: 1s;
}


#menu .menu__card__container .menu__card__back{
    grid-row: 1/2;
    grid-column: 1/2;    
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: perspective(500px) rotateY(180deg);
    background-color: rgb(71, 24, 24);

}

#menu .menu__card__container:hover .menu__card__front{
    transform: perspective(500px) rotateY(180deg);
}


#menu .menu__card__container:hover .menu__card__back{
    transform: perspective(500px) rotateY(360deg);
}

#servicios{
    background-image: url('../img/flowers-6914196_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#servicios .servicios__fondo{
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter:blur(5px);
    backdrop-filter: blur(5px);
    background-color: hsla(31, 100%, 6%, 0.651);
}

.title2__hr{
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    height: 4px;
}

#mapas .mapas__cards{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    padding-top: 50px;
}

#mapas .mapas__cards .mapas__card--show{
    grid-column: 1/2;
    grid-row: 1/2;
}

#mapas .mapas__menu{
    width: 100%;
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapas .mapas__menu .mapas__menu__item{
    list-style: none;
    padding: 0 10px;
    margin: 0 5px;
    cursor: pointer;
    color: #663300;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mapas .mapas__menu .mapas__menu__item:hover{
    background-color: #663300;
    color: #fff;
}


#footer .footer__list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#footer .footer__list li{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    color: #fff;
}

#footer .footer__list li i{
    margin: 0;
}
